@tailwind base;
@tailwind components;
@tailwind utilities;

.card {
    position: static;
}

.navbar {
    position: sticky;
}

.footer-title {
    opacity: 100%;
}

.card-body {
    padding: 32px 16px 16px 16px;
}

body {
    background-color: #2F4157;
}